
/* Navigation Bar */
.logo {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color:lightgrey;
  border-radius: 50%;
  padding: 10px;
}


.header{
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  
  opacity: 0.9;
  filter:opacity(0.9)
}