
/* Navigation Bar */
.logo {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
  background-color:lightgrey;
  border-radius: 50%;
  padding: 10px;
}


.header{
  position: relative;
  background: url(bck2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;  
  filter: blur(3px);
  filter: contrast(80%);
}

.main-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-text h1 {
  color: aliceblue;

}
Typed {
  color: aquamarine;
}